:root {
  --text-color: #fff;
  --text-color-alpha: rgba(255, 255, 255, 0.644);
  --background: #0a1122;
  --btn-text-color: rgb(10, 17, 34);
  --background-2: rgb(19, 26, 44);
  --background-3: rgb(23, 32, 53);
  --background-gradient: linear-gradient(0deg, var(--background-2) 0%, var(--background) 100%);
  --background-blur: rgba(10, 17, 34, 0.747);
  --margin-con: 0 200px;
  --border-color: rgba(99, 185, 255, 0.555);
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background: var(--background);
  color: var(--text-color);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.navbar {
  backdrop-filter: blur(8px);
  padding: 16px 0;
  position: sticky;
  transition: .2s;
  top: 0;
}

.navbar-alt-effect {
  background-color: var(--background-blur);
}

.navbar-con {
  margin: var(--margin-con);
  display: flex;
  justify-content: space-between;
}

.navbar-con .navbar-logo {
  font-size: 2rem;
  transition: .2s;
}

.navbar-con .navbar-link {
  margin: auto 0;
}

.home-header {
  background: var(--background-gradient);
  min-height: 550px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.navbar-con .navbar-link a {
  padding: 3px 6px;
  font-size: 1.2rem;
  margin-left: 20px;
  border-radius: 5px;
}

a {
  outline: solid 0px rgba(0, 0, 0, 0);
  transition: all .1s ease-in-out;
}

a:hover {
  text-shadow: rgba(255, 255, 255, 0.13) 0px 0px 10px;
}

a:focus {
  outline: solid 3px var(--border-color);
  text-shadow: rgba(255, 255, 255, 0.473) 0px 0px 5px;
}

.title-x {
  font-size: 65px;
  font-weight: 400;
  margin-bottom: 5px;
  text-shadow: rgb(255 255 255 / 15%) 0px 0px 40px;
}

.title-l {
  font-size: 40px;
  font-weight: 400;
  line-height: 1.3;
  text-shadow: rgb(255 255 255 / 15%) 0px 0px 35px;
}

.des-x {
  font-size: 1.6rem;
  font-weight: 300;
  margin-top: 5px;
  margin-bottom: 16px;
}

.des-l {
  font-size: 1.2rem;
  font-weight: 300;
}

.des-l-alt {
  font-size: 1.3rem;
  font-weight: 300;
}

.con {
  margin: var(--margin-con);
}

.des-x-link {
  padding: 0px 3px;
  border-radius: 5px;
  font-weight: 500;
}

.featured-tag {
  background: var(--background-3);
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 400;
  width: fit-content;
  padding: 5px 15px;
  color: var(--text-color-alpha);
  border-radius: 8px;
}

.read-mode a {
  font-size: 1.1rem;
  font-weight: 400;
  width: fit-content;
  padding: 3px 6px;
  color: var(--text-color-alpha);
  border-radius: 8px;
}

.letest-post {
  margin-top: 120px;
  margin-bottom: 100px;
}

.letest-post * {
  margin: 20px 0;
}

p {
  line-height: 1.5;
}

.letest-post .btn {
  margin: 30px 0;
}

.btn a {
  padding: 5px 15px;
  border-radius: 5px;
  font-size: 1.2rem;
  font-weight: 300;
}

.btn a {
  outline: solid 0px rgba(0, 0, 0, 0);
  transition: all .2s ease-in-out;
}

.btn a:focus {
  outline: solid 3px var(--border-color);
  transition: all .1s ease-in-out;
}

.btn-success a {
  background: #e63946;
}

.btn-success a:hover {
  background: #c7323e;
}

.navbar-logo:hover {
  text-shadow: rgba(255, 255, 255, 0.13) 0px 0px 20px;
}

.navbar-logo a:focus {
  outline: none;
  text-shadow: rgba(255, 255, 255, 0.5) 0px 0px 20px;
}

.d-flex {
  display: flex;
}


.d-flex * {
  margin: auto 0;
}

.space-b {
  justify-content: space-between;
}

.featured-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.featured-row>a {
  color: #fff;
  border-radius: 8px;
  padding: 15px 10px;
  min-height: 200px;
  margin-top: 30px;
  width: 31%;
  font-size: 1.3rem;
  display: flex;
  flex-direction: column;
  justify-content: end;
  transition: .2s;
  text-shadow: 0 1px 1px rgb(0 0 0 / 50%)
}

.featured-row>a:hover{
  transform: translateY(-8px);
}

.featured-row>a:focus{
  outline: solid 3px var(--border-color);
  transition: all .1s ease-in-out;
}

.featured-row>*:nth-child(1) {
  background: linear-gradient(to top right, #A774F2, #F25D76, #FF964F);
}

.featured-row>*:nth-child(2) {
  background: linear-gradient(to top right, #9B7BFE, #54B5F0, #88F2A9);
}

.featured-row>*:nth-child(3) {
  background: linear-gradient(to top right, #933890, #E08896, #CC98DD, #D1CEE2);
}

@media screen and (max-width: 800px) {
  .featured-row>* {
    width: 47% !important;
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 700px) {

  :root {
    --margin-con: 0 20px;
  }

  .home-header {
    min-height: 450px;
  }

  .title-x {
    font-size: 40px;
  }

  .title-l {
    font-size: 25px;
  }

  .des-x {
    font-size: 20px;
  }

  .des-l {
    font-size: 1.1rem;
  }

  .navbar-con .navbar-link a {
    padding: 3px 6px;
    font-size: 1rem;
    margin-left: 5px;
    border-radius: 5px;
  }

  .featured-tag {
    padding: 3px 9px;
    color: var(--text-color-alpha);
    border-radius: 8px;
    font-size: .9rem;
  }

  .read-mode a {
    padding: 3px 3px;
    color: var(--text-color-alpha);
    border-radius: 8px;
    font-size: .9rem;
  }

  .letest-post {
    margin-top: 100px;
    margin-bottom: 70px;
  }

  .letest-post * {
    margin: 15px 0;
  }

  .letest-post .btn {
    margin: 25px 0;
  }

  .btn a {
    padding: 4px 12px;
    font-size: 1.2rem;
  }

  .featured-row>a {
    min-height: 150px !important;
    width: 100% !important;
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 1200px) {
  :root {
    --margin-con: 0 20px;
  }
}
