:root{
  --text-color: #fff;
  --background: rgb(10, 17, 34);
  --background-2: rgb(19, 26, 44);
  --background-gradient: linear-gradient(0deg, var(--background-2) 0%, var(--background) 100%);
  --background-blur: rgba(10, 17, 34, 0.884);
  --margin-con: 0 200px;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background: var(--background);
  color: var(--text-color);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.navbar{
  backdrop-filter: blur(8px);
  padding: 16px 0;
  position: sticky;
  transition: .2s;
  top: 0;
}

.navbar-alt-effect{
  background-color: var(--background-blur);
}

.navbar-con{
  margin: var(--margin-con);
  display: flex;
  justify-content: space-between;
}

.navbar-con .navbar-logo{
  font-size: 2rem;
}

.navbar-con .navbar-link{
  margin: auto 0;
}

.home-header{
  background: var(--background-gradient);
  min-height: 550px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.navbar-con .navbar-link a{
  padding: 3px 6px;
  font-size: 1.2rem;
  margin-left: 20px;
  border-radius: 5px;
}

a{
  outline: solid 0px rgba(0, 0, 0, 0);
  transition: all .1s ease-in-out;;
}

a:focus{
  outline: solid 3px rgba(99, 185, 255, 0.555);
}

.title-x{
  font-size: 65px;
  font-weight: 400;
  margin-bottom: 20px;
}

.des-x{
  font-size: 1.6rem;
  font-weight: 300;
  margin-top: 20px;
  margin-bottom: 50px;
}

.con{
  margin: var(--margin-con);
}

.des-x-link{
  padding: 0px 3px;
  border-radius: 5px;
  font-weight: 500;
}

@media screen and (max-width: 700px) {
  
  :root{
    --margin-con: 0 20px;
  }

  .home-header{
    min-height: 450px;
  }
  
  .title-x{
    font-size: 40px;
  }

  .des-x{
    font-size: 20px;
  }

  .navbar-con .navbar-link a{
    margin-left:  8px;
  }

}
